@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto/roboto-regular.ttf"); }
body {
  font-family: Roboto, sans-serif;
  background-color: #F4F4F4; }

.sub-navbar {
  background: #013e74;
  /* Old browsers */
  background: -moz-linear-gradient(left, #013e74 0%, #416893 50%, #013e74 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #013e74 0%, #416893 50%, #013e74 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #013e74 0%, #416893 50%, #013e74 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013e74', endColorstr='#013e74',GradientType=1 );
  /* IE6-9 */
  text-align: center;
  border-top: 1px solid rgba(86, 125, 167, 0.6); }

.sub-navbar .dropdown-menu li > a {
  color: #333;
  display: block;
  transition: background-color 0.5s; }

.sub-navbar .dropdown-menu {
  right: 0;
  left: auto; }

.sub-navbar li > a {
  padding: 8px 20px;
  color: #ffffff;
  font-weight: bold;
  display: inline-block; }

.font-big {
  font-size: 1.5em; }

.left-section {
  padding-left: 0;
  padding-right: 5px; }

.right-section {
  padding-right: 0;
  padding-left: 5px; }

.card {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 15px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.input-icon {
  position: relative; }

.input-icon .form-control {
  margin-bottom: 10px; }

.input-icon > i {
  position: absolute;
  left: 6px;
  top: 10px; }

.form-control {
  padding-left: 25px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.btn-almundo {
  background-color: #003274;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-size: 1.8em;
  padding: 6px;
  font-weight: bold;
  box-shadow: 0 -2px 0 #00163C inset;
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
  max-width: 200px;
  text-align: center; }

.btn-almundo:hover {
  color: #ffffff;
  background-color: #194582; }

.navbar {
  background-color: #003274;
  border: none;
  border-radius: 0;
  margin-bottom: 0; }

.navbar-default .navbar-collapse {
  border: none;
  background-color: #194582; }

.navbar-toggle, .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  color: #ffffff;
  background: none;
  border: none; }

.navbar-toggle {
  padding: 6px 3px; }

.navbar-nav > li > a {
  color: #ffffff; }

a:hover {
  text-decoration: none;
  opacity: 0.8; }

.search-filter {
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .search-filter {
    text-align: right; }

  .navbar {
    margin-bottom: 10px; }

  .breadcrumb {
    margin-bottom: 10px; }

  .navbar-default {
    height: 55px; }

  .navbar-brand {
    height: 55px; }

  .navbar-default .navbar-collapse {
    background-color: #003274; }

  .nav-menu-desktop {
    margin-bottom: 0; }

  .nav-menu-desktop > li {
    padding: 15px 0; }

  .nav-menu-desktop > li > a {
    color: #ffffff;
    padding: 0 20px;
    border-left: 1px solid #ffffff; }

  .nav-menu-desktop > li:first-child > a {
    border: none; } }
@media (min-width: 992px) {
  .navbar-default {
    height: 80px; }

  .navbar-brand {
    height: 80px; }

  .nav-menu-desktop > li {
    padding: 30px 0; } }
.hotel-search-css .panel-search {
  background-color: transparent; }
.hotel-search-css .sub-nav-options {
  margin-bottom: 30px; }
.hotel-search-css .sub-nav-option {
  border-bottom: 1px solid #ccc;
  padding: 10px 0; }
.hotel-search-css .sub-nav-option > span {
  display: block;
  padding-bottom: 8px; }
.hotel-search-css .edit-search-desktop {
  padding: 24px; }
  .hotel-search-css .edit-search-desktop .input-icon {
    width: auto;
    display: inline-block; }
  .hotel-search-css .edit-search-desktop .input-icon input {
    width: auto;
    display: inline;
    margin-bottom: 0; }
  .hotel-search-css .edit-search-desktop .input-icon select {
    margin-bottom: 0; }
  .hotel-search-css .edit-search-desktop .btn-almundo {
    font-size: 1.2em;
    display: inline-block;
    margin-bottom: 0; }
  .hotel-search-css .edit-search-desktop .cancel-search-btn {
    float: right;
    cursor: pointer; }
.hotel-search-css .edit-search-form select {
  margin-bottom: 10px; }

.search-card-css .search-card {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 15px;
  padding: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
.search-card-css .search-card > div {
  padding: 15px 0; }
.search-card-css .search-card > div:first-child {
  padding: 0; }
.search-card-css .search-card > div:last-child {
  border-top: 1px dashed #777;
  padding-bottom: 0; }
.search-card-css .hotel-image {
  background-size: cover;
  background-position: center;
  height: 215px; }
.search-card-css .recomendation {
  position: absolute;
  color: #ffffff;
  background-color: #2671DD;
  width: 100%;
  padding: 5px; }
.search-card-css .recomendation > span {
  font-weight: bold; }
.search-card-css .room-notice {
  color: #E56800; }
.search-card-css .price-tag {
  color: #E56800;
  margin: 0; }
.search-card-css .hotel-name {
  margin: 0; }
.search-card-css .fa-star {
  color: #FDBA12; }
@media (min-width: 768px) {
  .search-card-css .search-card > div {
    padding: 0 10px; }
  .search-card-css .search-card > div:last-child {
    border-top: none;
    border-left: 1px dashed #777;
    padding-left: 15px;
    height: 215px; } }

.search-filters-css {
  margin-bottom: 20px; }
  .search-filters-css .filter-card {
    margin-bottom: 2px;
    padding: 15px;
    border-radius: 0;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .search-filters-css .filter-card > span {
    color: #157ab1;
    display: block;
    cursor: pointer; }
  .search-filters-css .filter-card > span:hover {
    color: #1a99df; }
  .search-filters-css .filter-control {
    padding-top: 15px;
    text-align: left; }
  .search-filters-css .filter-control .form-control {
    width: 190px;
    display: inline;
    padding: 6px 12px; }
  .search-filters-css .filter-control .btn-almundo {
    font-size: 1em;
    padding: 7px 6px;
    display: inline;
    float: right; }
  .search-filters-css .price-filter .filter-control {
    text-align: left; }
  .search-filters-css .price-filter .form-control {
    display: inline;
    width: 80px;
    max-width: none; }
  .search-filters-css .filter-control .fa-star {
    color: #FDBA12; }
  .search-filters-css .custom-slider.rzslider {
    margin-bottom: 40px; }
  .search-filters-css .custom-slider.rzslider .rz-bar {
    background: #aaa;
    height: 8px; }
  .search-filters-css .custom-slider.rzslider .rz-selection {
    background: #333; }
  .search-filters-css .custom-slider.rzslider .rz-pointer {
    width: 16px;
    height: 32px;
    top: auto;
    /* to remove the default positioning */
    bottom: -16px;
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 10px; }
  .search-filters-css .custom-slider.rzslider .rz-pointer:after {
    display: none; }
  .search-filters-css .custom-slider.rzslider .rz-pointer:focus {
    border-color: orange; }
  .search-filters-css .custom-slider.rzslider .rz-bubble {
    bottom: -35px;
    font-weight: bold; }
  .search-filters-css .custom-slider.rzslider .rz-bubble:before {
    content: '$'; }
  .search-filters-css .custom-slider.rzslider .rz-limit {
    display: none; }
  .search-filters-css .custom-slider.rzslider .rz-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px; }
  @media (min-width: 992px) {
    .search-filters-css .filter-control .form-control {
      max-width: 135px; } }
  @media (min-width: 1200px) {
    .search-filters-css .filter-control .form-control {
      max-width: none;
      width: auto; }
    .search-filters-css .price-filter .form-control {
      width: 80px; } }

/*# sourceMappingURL=style.css.map */
