<div class="container hotel-search-css">
	<div ng-hide="showSearchOptions" class="panel panel-default panel-search hidden-xs">
	  <div class="panel-body">
	    <p class="font-big"><b>Hoteles disponibles para:</b></p>
	    <ul class="list-inline">
	    	<li><i class="fa fa-fw fa-map-marker"></i> {{placeSearch}}</li>
	    	<li><i class="fa fa-fw fa-toggle-right"></i> {{arriveDate | date:'dd/MM/yy'}}</li>
	    	<li><i class="fa fa-fw fa-toggle-left"></i> {{leaveDate | date:'dd/MM/yy'}}</li>
	    	<li><i class="fa fa-fw fa-user"></i> {{guests}} {{guests == '1' ? 'huésped' : 'huéspedes'}}</li>
	    	<li><a href="#" ng-click="toggleSearch()">Modificar búsqueda</a></li>
	    </ul>
	  </div>
	</div>
	<div ng-show="showSearchOptions" class="hidden-xs edit-search-desktop panel panel-fedault col-xs-12">
		<form class="edit-search-form">
			<div class="input-icon">
				<i class="fa fa-fw fa-map-marker input-icon"></i>
				<input type="text" class="form-control" ng-model="placeSearch" placeholder="Ingresá un destino">
			</div>
			<div class="input-icon">
				<i class="fa fa-fw fa-toggle-right input-icon"></i>
				<input type="date" class="form-control" ng-model="arriveDate">
			</div>
			<div class="input-icon">
				<i class="fa fa-fw fa-toggle-left input-icon"></i>
				<input type="date" class="form-control" ng-model="leaveDate">
			</div>
			<div class="input-icon">
				<i class="fa fa-fw fa-user input-icon"></i>
				<select type="number" class="form-control" ng-model="guests">
					<option value="1">1 huésped</option>
					<option value="2">2 huéspedes</option>
					<option value="3">3 huéspedes</option>
					<option value="4">4 huéspedes</option>
					<option value="5">5 huéspedes</option>
					<option value="6">6 huéspedes</option>
					<option value="7">7 huéspedes</option>
					<option value="8">8 huéspedes</option>
					<option value="9">9 huéspedes</option>
					<option value="10">10 huéspedes</option>
				</select>
			</div>
			<a class="btn-almundo center-block" type="submit" ng-click="newSearch()">Buscar</a>
			<span class="cancel-search-btn" ng-click="toggleSearch()"><i class="fa fa-2x fa-close"></i></span>
		</form>
	</div>
	<div class="sub-nav-options hidden-lg">
		<div class="sub-nav-option text-center center-block visible-xs">
			<span><a ng-click="editSearchShow = !editSearchShow">Modificar búsqueda <i class="fa fa-fw fa-caret-{{editSearchShow ? 'up' : 'down'}}"></i></a></span>
			<div ng-hide="!editSearchShow">
				<form class="edit-search-form">
					<div class="input-icon">
						<i class="fa fa-fw fa-map-marker input-icon"></i>
						<input type="text" class="form-control" ng-model="placeSearch" placeholder="Ingresá un destino">
					</div>
					<div class="input-icon">
						<i class="fa fa-fw fa-toggle-right input-icon"></i>
						<input type="date" class="form-control" ng-model="arriveDate">
					</div>
					<div class="input-icon">
						<i class="fa fa-fw fa-toggle-left input-icon"></i>
						<input type="date" class="form-control" ng-model="leaveDate">
					</div>
					<div class="input-icon">
						<i class="fa fa-fw fa-user input-icon"></i>
						<select type="number" class="form-control" ng-model="guests">
							<option value="1">1 huésped</option>
							<option value="2">2 huéspedes</option>
							<option value="3">3 huéspedes</option>
							<option value="4">4 huéspedes</option>
							<option value="5">5 huéspedes</option>
							<option value="6">6 huéspedes</option>
							<option value="7">7 huéspedes</option>
							<option value="8">8 huéspedes</option>
							<option value="9">9 huéspedes</option>
							<option value="10">10 huéspedes</option>
						</select>
					</div>
					<a class="btn-almundo center-block" type="submit" ng-click="newSearch()">Buscar</a>
				</form>
			</div>
		</div>
		<div class="sub-nav-option text-center center-block visible-xs">
			<span><a>Ver hoteles en el mapa</a></span>
		</div>
		<div class="sub-nav-option text-center center-block hidden-md hidden-lg">
			<span><a ng-click="filterShow = !filterShow">Filtrar <i class="fa fa-fw fa-caret-{{filterShow ? 'up' : 'down'}}"></i></a></span>
			<search-filters ng-hide="!filterShow" filters="filters"></search-filters>
		</div>
	</div>
	<div class="text-center search-filter">
		<div>
			<span>Ordenar</span>
			<select ng-model="sortOrder" ng-change="switchSort(sortOrder)">
				<option value="starsH" selected>Más estrellas</option>
				<option value="starsL">Menos estrellas</option>
				<option value="priceH">Mayor precio</option>
				<option value="priceL">Menor precio</option>
			</select>
		</div>
	</div>
	<div class="hidden-xs hidden-sm col-md-3 left-section">
		<div class="card panel-defaul">
			<a href="#" class="center-block text-center">
				<img src="assets/img/map-marker.jpg" width="100%">
				<span class="view-map-label">Ver hoteles en el mapa</span>
			</a>
		</div>
		<p><b>Filtrar</b> <a href="#" class="pull-right" ng-click="resetFilters()"><i class="fa fa-fw fa-close"></i> Eliminar filtros</a></p>
		<search-filters filters="filters"></search-filters>
	</div>
	<div class="col-xs-12 col-md-9 right-section">
		<search-card ng-repeat="hotel in hotels | filter:{name: filters.name} | priceFilter:filters | starsFilter:filters | regimenFilter: filters | paymentFilter: filters | orderBy:sort.order:sort.reverse" hotel="hotel"></search-card>
		<div class="no-results">
			<div class="alert alert-am">
				<div class="alert-am-icon"><i class="fa fa-fw fa-exclamation-circle fa-2x"></i></div>
				<div class="alert-am-content">
			  		<span>Uy, no encontramos resultados. Podés cambiar o borrar los filtros.</span>
			  	</div>
			</div>
			<img src="assets/img/no-results.svg" class="img-responsive center-block">
		</div>
		<div class="pagination-wrapper text-center">
			<ul class="pagination">
			    <li>
			      <a href="#">
			        <span>&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li>
			      <a href="#">
			        <span>&raquo;</span>
			      </a>
			    </li>
		  	</ul>
	  	</div>
	</div>
</div>